body{font-family: "Hiragino Kaku Gorhic ProN","メイリオ",sans-serif;
}

.header {
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
}

.header ul {
    list-style: none;
    margin-left: 45px;
}

.header ul li {
    float: left;
    margin-right: 60px;
}

.main {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}
.left {
    float: left;
    width: 70%;
    height:1100px;
    margin: 30px 0 40px 0;
}

h1{
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-left: 7px solid black;
    border-bottom: 6px solid darkgray;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-left: 15px;
    width: 90%;
    font-size: 30px;
}

h3 {
    border-left: 4px red solid;
    padding-left: 10px;
}

form{
    margin: 0 auto;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 50px;
}

form div{
    padding: 15px;
}

.text, textarea {
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}


.submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    
}

.box1,.box2 {
    margin: 0 auto;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.title {
    border-bottom: 2px solid darkgray;
    padding-left: 5px;

}

.comments {
    padding-left: 10px;
}

.handlename {
    padding-left: 10px;
}

.right {
    float: left; 
    width: 30%;
    height: 1100px;
    margin: 30px 0 40px 0;
}

.sub {
    margin-top: 33px;
    margin-left: 20px;
}

.sub h2 {
    border-bottom: 2px dotted darkgray;
}

.sub ul {
    padding-left: 20px;
    font-size: 15px;
}



footer {
    clear: left;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 50px;
}

